<body>
    <header>
        <a class="logo">SOP</a>
        <nav>
            <ul class="nav_links">
                <li><a [routerLink]="['/ingresos']"><i class="fas fa-phone-alt"></i>  Registrar Llamadas</a></li>
                <li><a [routerLink]="['/informes']"><i class="fas fa-chart-line"></i>  Ver Informes</a></li>
                <li><a [routerLink]="['/historial']"><i class="fas fa-search"></i>  Historial</a></li>
                <li><a id="salir"><i class="far fa-times-circle"></i>  Salir</a></li>
            </ul>
        </nav>
    </header>
</body>