<div class="contenedor-general">
    <h1 class="titulo text-center">REPORTE GENERAL</h1>
    <br>
    <div class="horizontal">
        <div class="recuadro bg-success text-white">
            <strong>Llamadas Atendidas</strong>
            <br>
            <strong class="valor">{{contadorGeneral}}</strong>
        </div>

        <div class="recuadro bloque bg-warning text-white">
            <strong>Promedio Diario</strong>
            <br>
            <strong class="valor">{{promedioDiario}}</strong>
        </div>
    </div>

    <br>

    <div class="horizontal">
        <div class="card grafico-pequeno">
            <div class="card-header">
                <h1 class="titulo2">LLAMADAS ATENDIDAS POR PERSONA</h1>
            </div>
            <div class="card-body">
                <canvas id="porPersona"></canvas>
            </div>
        </div>

        <div class="card grafico-pequeno">
            <div class="card-header">
                <h1 class="titulo2">MOTIVOS DE LLAMADA</h1>
            </div>
            <div class="card-body">
                <canvas id="porMotivo"></canvas>
            </div>
        </div>
    </div>

    <br>

    <div class="horizontal">
        <div class="card grafico-largo">
            <div class="card-header">
                <h1 class="titulo2">LLAMADAS ATENDIDAS POR DÍA</h1>
            </div>
            <div class="card-body">
                <canvas id="porDia"></canvas>
            </div>
        </div>
    </div>

    <br>

    <div class="horizontal">
        <div class="card grafico-largo">
            <div class="card-header">
                <h1 class="titulo2">SOLUCIONES MÁS DADAS POR LOS CONTESTADORES</h1>
            </div>
            <div class="card-body">
                <canvas id="porSolucion"></canvas>
            </div>
        </div>
    </div>

    <br>

    <div class="horizontal">
        <div class="card grafico-largo">
            <div class="card-header">
                <h1 class="titulo2">LLAMADAS POR INFORMACIÓN</h1>
            </div>
            <div class="card-body">
                <canvas id="porInformacion"></canvas>
            </div>
        </div>
    </div>

    <br>

    <div class="horizontal">
        <div class="card grafico-largo">
            <div class="card-header">
                <h1 class="titulo2">LLAMADAS POR DISPONIBILIDAD</h1>
            </div>
            <div class="card-body">
                <canvas id="porDisponibilidad"></canvas>
            </div>
        </div>
    </div>

    <br>

    <div class="horizontal">
        <div class="card grafico-largo">
            <div class="card-header">
                <h1 class="titulo2">LLAMADAS POR CALIDAD</h1>
            </div>
            <div class="card-body">
                <canvas id="porCalidad"></canvas>
            </div>
        </div>
    </div>

    <br>

    <div class="horizontal">
        <div class="card grafico-largo">
            <div class="card-header">
                <h1 class="titulo2">LLAMADAS POR FACTURACIÓN</h1>
            </div>
            <div class="card-body">
                <canvas id="porFacturacion"></canvas>
            </div>
        </div>
    </div>

</div>